/.emacs.desktop
/.emacs.desktop.lock
/eln-cache/
/projectile-bookmarks.eld
/recentf
/tramp
/history
/backups/
/.python-environments/
/auto-save-list/
/eshell/
/games/
/url/
/epkgs/
/emms/
/transient/
/.org-id-locations
*.pyc
/custom.el
*.elc
/elpa/archives/
/elpa/gnupg/
/projects
